@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.cover {
  position: relative;
  background: #2b2d34 url(./img/main_image.jpg) center;
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; 

}

.cover .bg{
  position: absolute;
  background: linear-gradient(90deg, #d52047cc 0%, #ee3d1bcc 100%);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0%; bottom: 0%;
  align-self: stretch;
}





.lang-icon{
  width: 25px;
  height: 25px;
}

.navbar-trans {
  background: transparent; }


.navbar  a{
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 0.5rem;
  
} 

.navbar button{
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.navbar button:hover{
  background-color: transparent;
  border: 1px solid #d52047cc;
}
  



.main-view-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-view-text h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.main-view-text p{
  font-size: 200%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.main-view-text button{
  background: #ffffff;
  color: #d52047cc;
  border: none;
}

.main-view-text button:hover{
  background: #d52047cc;
  color: #ffffff;
  border: none;
}

.system-mgt .btn, .system-mgt .btn:hover, .system-mgt .btn:active{
  color: #d52047cc;
  background: transparent;
  border: none;
}

.system-mgt{
  background-color: #fff ;
  color: #000;
  z-index: 4;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.system-mgt video{
  border-radius: 20px;
  box-shadow: 1px 1px 15px #000;
}
.play-button img{
  width: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 25px #000;
}

.features{
  background: #f6f6f6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 6rem;
}

.features-items img{
  flex: 30%;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 16px;
}

.f-item {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.5rem;
}

.text-block {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #000;
  width: 50%;
}

.text-block h4{
  font-weight: 500;
  font-size: 1rem;
}

.text-block p{
  font-weight: 300;
  font-size: .7rem;
  color: #412a2a;
  margin-top: 1.3rem;
}

.text-block a{
  margin-bottom: 1rem;
  font-size: .8rem;
  font-weight: 500;
}

.text-block .btn, .text-block .btn:hover, .text-block .btn:active{
  color: #d52047cc;
  background: transparent;
  border: none;
}

.tech .back-text{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

}

.tech .back-text h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: rgba(206, 206, 206, 0.678);
}

.fa-folder-open, .fa-bug, .fa-qrcode, .fa-shield-alt{
  color: #ed4c5c;
  font-size: 2.5rem;
  margin-bottom: .8rem;
  border: #000;
}



.tech-text h4{
  font-weight: 500;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tech-text p{
  font-weight: 300;
  font-size: .7rem;
  color: #412a2a;
  margin: 0 3rem;
}

.system-mgt p, .system-mgt a, .savings-text p, .contact p, .the-end p{
  font-size: .8rem;
}
.system-mgt h2,  .savings-text h2, .contact h2{
  font-size: 1.8rem;
  font-weight: 700;
}

.savings-text p{
  padding-top: 2rem;
}


p{
  font-size: .8rem;
}

.fa-audible, .fa-google-play, .fa-app-store{
  color: rgb(255, 255, 255);
  margin-right: 1.2rem;
  font-size: 1.2rem;
}

.savings{
  color: #fff;
  background-color: #ed4c5c;
}

.padding{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.budget-area .image-area, .budget-area .text-area{
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.savings .image-area .carousel-item img{
  border-radius: 20px;
}

.contact button{
  text-transform: uppercase;
  background-color: #ed4c5c;
  border: none;
}

.secure-pass img{
  max-width: 250px;
}

footer{
  background: #f6f6f6;
  margin-top: 1.5rem;
  padding-bottom: .5rem;
}

.the-end p{
  font-size: .8rem;
  margin-top: 0rem;
}

.the-end h2{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


.fa-facebook, 
.fa-twitter,
.fa-google-plus-g{
  color: #000;
}

.the-end h5{
  font-size: .8rem;
  color: #2b2d34;
}

.contact .text-area p{
  padding-top: 2rem;
}

















































/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








